.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.force-linebreak {
  overflow-wrap: break-word;
}

.no-style {
  all: none;
  list-style: none;
}

.occ-type-public {
  background-color: rgba(51, 235, 216, 0.2);
}

.occ-type-owned {
  background-color: rgba(252, 114, 55, 0.5);
}

.occ-type-invited {
  background-color: rgba(223, 250, 72, 0.3);
}

.occ-type-participant {
  background-color: rgba(170, 250, 72, 0.3);
}

.occ-hide-until-rerender {
  display: none;
}

.occ {
  padding: 20px;
  border-radius: 5px;
}

.left-buffer {
  padding-left: 15px;
  margin-left: 25px;
}

.navbar-item {
  color: aliceblue;
}

.jumbo {
  align-content: center;
  text-align: center;
}

.list-group-item {
  padding: 0;
}